body {
    background-image: url(Images/back.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    
} 

.good {
    background-color: rgb(0, 0, 0);
    text-align: right;
    padding: 15px;
    padding-top: -20px;
    margin-top: -60px;
    margin-inline: -5px;
    font-size: 20px;
    position: initial;
    border: 50px;
    border-radius: 10px;
   
    

}

.dis {
    padding: 150px;
    font-size: 20px;
    color: #020202;
    margin: -10px;
}